<ul class="nav nav-tabs bg-success">
   
        <div class="navbar-brand">
          <img src="../../../assets/img/favicon.png" alt="" width="65" height="40">
        </div>
     
    <li class="nav-item">
        <a class="nav-link text-light" routerLink="" routerLinkActive="">Catus y suculentas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" routerLink="" routerLinkActive="">Plantas</a>
    </li>
    
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" routerLink="" routerLinkActive="" role="button" aria-expanded="false">Macetas</a>
        <ul class="dropdown-menu bg-success">
          <li><a class="nav-link bg-success text-light" routerLink="" routerLinkActive="">Macetas Deco</a></li>
          <li><a class="nav-link bg-success text-light" routerLink="" routerLinkActive="">Macetas de plastico</a></li>
          <li><a class="nav-link bg-success text-light" routerLink="" routerLinkActive="">Macetas de barro</a></li>
        </ul>
      </li>
    <li class="nav-item">
        <a class="nav-link text-light" routerLink="" routerLinkActive="">Porta macetas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" routerLink="" routerLinkActive="">Insumos para jardineria</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" routerLink="/contacto" routerLinkActive="/contacto">Contacto</a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link disabled" routerLink="" tabindex="-1" aria-disabled="true">Disabled</a>
    </li> -->
</ul>