<div class="row justify-content-around align-items-center my-5">
<h1>MACETAS DE PLASTICO</h1>
    <div class="card mt-4" style="width: 18rem;">
        <img src="../../../assets/img/insumos/ganchos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ganchos para macetas</h5>
          <p class="card-text">Estos ganchos estan diseñados para soportar hasta 2kgs.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card mt-4" style="width: 18rem;">
        <img src="../../../assets/img/insumos/semillas.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Semillas</h5>
          <p class="card-text">Semillas de todo tipo de verduras y flores.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card mt-4" style="width: 18rem;">
        <img src="../../../assets/img/insumos/tierra.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tierra negra</h5>
          <p class="card-text">Tierra negra fertilizada.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
</div>
