<div class="row justify-content-around align-items-center my-5">

    <div class="card my-4" style="width: 18rem;">
        <img src="../../../assets/img/plantas/Aphelandra.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Aphelandra</h5>
          <p class="card-text">Estos ganchos estan diseñados para soportar hasta 2kgs.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card my-4" style="width: 18rem;">
        <img src="../../../assets/img/plantas/Calathea erchovena.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Calathea erchovena</h5>
          <p class="card-text">Estos ganchos estan diseñados para soportar hasta 2kgs.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card my-4" style="width: 18rem;">
        <img src="../../../assets/img/plantas/calathea ornata.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">calathea ornata</h5>
          <p class="card-text">Estos ganchos estan diseñados para soportar hasta 2kgs.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card my-4" style="width: 18rem;">
        <img src="../../../assets/img/plantas/Coleos.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Coleos</h5>
          <p class="card-text">Estos ganchos estan diseñados para soportar hasta 2kgs.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card my-4" style="width: 18rem;">
        <img src="../../../assets/img/plantas/Conejitos.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Conejitos</h5>
          <p class="card-text">Estos ganchos estan diseñados para soportar hasta 2kgs.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card my-4" style="width: 18rem;">
        <img src="../../../assets/img/plantas/Crisantemo.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Crisantemo</h5>
          <p class="card-text">Estos ganchos estan diseñados para soportar hasta 2kgs.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>


      <div class="card my-4" style="width: 18rem;">
        <img src="../../../assets/img/plantas/crotton fideo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">crotton fideo</h5>
          <p class="card-text">Estos ganchos estan diseñados para soportar hasta 2kgs.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card my-4" style="width: 18rem;">
        <img src="../../../assets/img/plantas/Crotton mona lisa chico.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Crotton mona lisa chico</h5>
          <p class="card-text">Estos ganchos estan diseñados para soportar hasta 2kgs.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card my-4" style="width: 18rem;">
        <img src="../../../assets/img/plantas/Crotton_amarillo.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Crotton amarillo</h5>
          <p class="card-text">Estos ganchos estan diseñados para soportar hasta 2kgs.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card my-4" style="width: 18rem;">
        <img src="../../../assets/img/plantas/dolar grande.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">dolar grande</h5>
          <p class="card-text">Estos ganchos estan diseñados para soportar hasta 2kgs.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>


      <div class="card my-4" style="width: 18rem;">
        <img src="../../../assets/img/plantas/Ficus benjamina.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ficus benjamina</h5>
          <p class="card-text">Estos ganchos estan diseñados para soportar hasta 2kgs.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card my-4" style="width: 18rem;">
        <img src="../../../assets/img/plantas/Gazania.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Gazania</h5>
          <p class="card-text">Estos ganchos estan diseñados para soportar hasta 2kgs.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card my-4" style="width: 18rem;">
        <img src="../../../assets/img/plantas/Geranio malbon.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Geranio malbon</h5>
          <p class="card-text">Estos ganchos estan diseñados para soportar hasta 2kgs.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

      <div class="card my-4" style="width: 18rem;">
        <img src="../../../assets/img/plantas/Helecho americano grande.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Helecho americano grande</h5>
          <p class="card-text">Estos ganchos estan diseñados para soportar hasta 2kgs.</p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>

</div>