/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('../src/assets/img/portada wide.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 98vw;
    height: 100vh;
}
.card{
    box-shadow: inset aliceblue 0 0 5px, rgb(42, 49, 55) 5px 8px 10px, rgb(11, 14, 16) 5px 8px 15px;
}

.loader{
    width: 100%;
    height: 95vh;
    font-size: 5rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader::after{
    height: 2vh;
}
.loader::before{
    height: 2vh;
}