/* You can add global styles to this file, and also import other style files */
body{
    background-image: url('../src/assets/img/portada wide.jpg');
    background-repeat: repeat-y;
    background-position: top;
    background-size: cover;
    width: 98vw;
    height: 100vh;
}